<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.malepsyche.flightbooker.user.mapper.UserMapper">
    <resultMap id="UserDTOMap" type="com.malepsyche.flightbooker.user.dto.UserDTO">
        <result property="userName" column="user_name"/>
    </resultMap>

    <insert id="addUser">
        INSERT INTO user_table
        (
            user_id,
            user_name,
            version
        )
        VALUES
        (
            UUID_TO_BIN(UUID(), 1),
            #{userName},
            1
        )
    </insert>

    <select id="getUserById" resultMap="UserDTOMap">
        SELECT
            user_name,
            version
        FROM
            user_table
        WHERE
            user_id = UUID_TO_BIN(#{userId})
    </select>
</mapper>